.calendar {
    position: relative;
}
.calendar-hours {
    display: flex;
    height: 70px;
    margin-bottom: 10px;
}
.calendar-hour-value {
    width: 50px;
}

.calendar-hour-box {
    flex-basis: auto;
    flex-grow: 1;
    background-color: rgb(35, 165, 209);
}
.meeting {
    position: absolute;
    background-color: lightgray;
    left: 20%;
    right: 10%;
}
.meeting-1 {
    top: 795px;
    height: 60px;
    font-size: 0.8rem;
    padding: 0.5rem 0.5rem;
    margin: 0;
}
.meeting-2{
    top:1035px;
    height: 60px;
    font-size: 0.8rem;
    padding: 0.5rem 0.5rem;
    margin: 0;
}
h1{
    padding-left: 40px;
}
hr{
    margin-left: 40px;
}

.main-header{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.main-header-block{
    display:block;
    list-style-type: none;
}

@media(min-width: 992px){
    .meeting {
        position: absolute;
        background-color: lightgray;
        left: 10%;
        right: 6%;
    }
    .date-icon{
        width: 25%;
    }
}
