.container{
    display:flex;
    flex-wrap: wrap;      
    gap:20px;    
}
.container-cards{
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 1rem 2rem;
    flex-basis: 100%;   
}
.button-excuse{
    color: white;
    background-color: crimson;
}
.button-add{
    color:white;
    background-color: rgb(35, 165, 209);
}