.panel-primary{
    border: 1px solid navy;
    border-radius: 6px;
}
.panel-primary-header,.panel-secondary-header,.panel-error-header{
    padding:2px 10px;
    border-top-left-radius: 6px;
   border-top-right-radius: 6px;
}
.panel-secondary,.panel-error{
    border-radius: 6px;
    margin-top:10px;

}
.panel-primary-header{
    background-color: navy;
    color:white;    
}
.panel-secondary{
    border: 1px solid olive;
}
.panel-secondary-header{
    background-color: olive;    
    color:white;
}
p{
    padding:10px;
    font-weight: bold;
}
.panel-error{
    border: 1px solid crimson;
}
.panel-error-header{
    background-color: crimson;
    color:white;
}